.navbar{
    padding: 20px 230px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(124, 29, 16); /* Ajustat pentru transparență */
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo{
    font-weight: 800;
    cursor: pointer;
}

.navbar .cart{
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart .cart-text{
    font-size: 0.8em;
    font-weight: 500;
    margin-right: 8px;
}

/* Nu stergeti */
.cart .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #f9cc98;
    border-radius: 5px;
    top: -4px;
    right: -9px;
}
