.cartItem {
  width: 100%;
  max-width: 700px; /* Slightly longer */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 10px;
  height: 180px; /* Adjusted height for CartItem */
}

.imageContainer {
  flex-shrink: 0;
  width: 130px; /* Slightly smaller image */
  height: 130px; /* Keep it square */
  margin-right: 15px;
}

.cartImg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image fills container */
  border-radius: 8px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.cardDescription {
  font-size: 0.9rem;
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  max-height: calc(1.2rem * 2);
  margin-bottom: 0.5rem;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.4rem; /* Bigger and bolder price */
  font-weight: bold;
  color: #333;
}

.quantitySelector {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f0f0;
  border-radius: 30px;
  padding: 0.3rem 0.7rem;
}
