.cart-content {
    flex: 1;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 80px 80px 0 0;
    top: 528px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.23);
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
    color: #181a1b;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrare pe orizontală */
    justify-content: space-between; /* Distribuie spațiu între elemente */
}

.cart-header {
    display: flex;
    align-items: center;
    margin: 20px; /* Adaugă spațiu sub header */
}


.cart-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Înălțimea minimă a containerului */
    border: 2px dashed #ccc; /* Linie punctată pentru a marca locul itemelor */
    text-align: center;
    color: #999;
    font-size: 18px;
}

.cart-items::before {
    content: "Aici vor apărea produsele adăugate în coș.";
}
