.cart-content {
    flex: 1;
    margin-top: 85px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 80px 80px 0 0;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.23);
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
    color: #181a1b;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrează conținutul pe orizontală */
    justify-content: space-between; /* Distribuie spațiu între elemente */
}

.cart-header {
    display: flex;
    align-items: center;
    margin: 20px; /* Adaugă spațiu sub header */
}

.cart-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-right: 10px;
}

.cart-quantity {
    background-color: #f9cc98; /* Change this to your desired background color */
    color: #181a1b; /* Text color */
    border-radius: 50%; /* Make it circular */
    width: 30px; /* Set width */
    height: 30px; /* Set height */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-size: 16px; /* Adjust font size for quantity */
    font-weight: 700;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spațiu între iteme */
    margin-top: 20px;
    margin-bottom: 40px;
}

.cart-item {
    background-color: #f1f1f1; /* Fundal gri deschis */
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cart-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cart-actions button {
    background-color: #f9cc98;
    color: #181a1b;
    border: 2px solid #f9cc98;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cart-actions button:hover {
    background-color: #f6af5e;
    color: #181a1b;
    border-color: #f6af5e;
}


.cart-total {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}