.svg {
  display: block;
  margin: 10;
  padding: 100;
}

.aboutUs {
  text-align: start;
  background-color: #FFEFDD;
  margin: 0 auto;
  color: #181a1b;
}

.aboutUs h2 {
  font-size: 2.5rem;
}

.aboutUs p {
  font-size: 1.2rem;
  max-width: 800px;
}

/* .textLine {
  display: inline-block;
  opacity: 0;
}

.complexFadeIn {
  animation: complexFadeIn 0.8s forwards ease-out;
}

@keyframes complexFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.8) rotate(-10deg);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-10px) scale(1.1) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }
}

.complexFadeOut {
  animation: complexFadeOut 0.8s forwards ease-out;
}

@keyframes complexFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-10px) scale(1.1) rotate(5deg);
  }
  100% {
    opacity: 0;
    transform: translateY(30px) scale(0.8) rotate(-10deg);
  }
} */
